@page "/STARSMonitoring"

@using ALISS.Data.D7_StarsMonitoring
@using ALISS.Data
@using ALISS.STARS.DTO
@using ALISS.Data.D7_StarsMapping

@using Radzen
@using Radzen.Blazor
@using System.IO;

@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@inject ConfigDataService configDataService
@inject STARSMonitoringService StarsMonitoringService
@inject DropDownListDataService ddlDataService
@inject STARSPersonalReportService starsReportservice
<style>
    .ant-padding {
        padding: 0px 0px 0px 10px;
    }

</style>
<div style="width: 90%;">
    <div class="divHead">
        STARS Monitoring
    </div>
</div>

@if (gridDatas == null)
{
    <p><em>Loading...</em></p>
    <Loading ShowModel="true" />
}
else
{
    <div class="container inputArea">
        <div class="row justify-content-between">
            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("AreaHealth")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDropDown @bind-Value="searchModel.arh_code" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowClear="true" TValue="string" AllowFiltering="true" Placeholder="Select..."
                                        Data="lab_ddl_List.Select(x => new { x.stars_arh_code, x.stars_arh_name }).Distinct().OrderBy(o => o.stars_arh_code)" ValueProperty="stars_arh_code" TextProperty="stars_arh_name"
                                        Disabled="(!string.IsNullOrEmpty(mainLayout.loginUser.arh_code))"
                                        Change="@(args => DDL_Change("Arh", args))" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("Hos")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDropDown @bind-Value="searchModel.hos_code" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowClear="true" TValue="string" AllowFiltering="true" Placeholder="Select..."
                                        Data="lab_ddl_List.Select(x => new { x.arh_code, x.arh_name, x.prv_code, x.prv_name, x.hos_code, x.hos_name, x.stars_arh_code, x.stars_arh_name }).Where(x => (searchModel.arh_code == null || x.arh_code == searchModel.arh_code || x.stars_arh_code == searchModel.arh_code))" ValueProperty="hos_code" TextProperty="hos_name"
                                        Change="@(args => DDL_Change("Hos", args))" Disabled="(!string.IsNullOrEmpty(mainLayout.loginUser.hos_code))" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">

                </div>
            </div>

        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("STARSNo")" />
                    </div>
                    <div class="@classInput">
                        <RadzenTextBox @bind-Value="searchModel.stars_no" Style="width: 100%;" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("RecvDateFrom")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDatePicker @bind-Value="searchModel.recvdate_start" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("RecvDateTo")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDatePicker @bind-Value="searchModel.recvdatet_end" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("Status")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDropDown @bind-Value="searchModel.status" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowClear="true" TValue="string" AllowFiltering="true" Placeholder="Select..."
                                        Data="ss.Select(x => new { x.status_code, x.status_name }).Distinct()" ValueProperty="status_code" TextProperty="status_name" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("TATDateFrom")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDatePicker @bind-Value="searchModel.tatdate_start" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="row justify-content-center divGroup">
                    <div class="@classLabel">
                        <LabelBox inputLabel="@configData.Get_Label("TATDateTo")" />
                    </div>
                    <div class="@classInput">
                        <RadzenDatePicker @bind-Value="searchModel.tatdatet_end" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-xl-12">
            <div class="row justify-content-end divGroup buttonArea">
                <div class="col-auto">
                    <RadzenButton class="btnSearch" Text="Search" Click="SearchData" />
                </div>
                <div class="col-auto">
                    <RadzenButton class="btnClear" Text="Clear" Click="ClearInboxData" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div style="width:100%;margin:0px auto;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <label>Rows : </label>
                </div>
                <div class="col-auto">
                    <RadzenDropDown @bind-Value="inboxGrid.PageSize" TValue="int" AllowFiltering="true" Data="inboxGrid.PageSizeOption" Change="SearchData" Style="width:50px" />
                </div>
            </div>
        </div>

        <RadzenGrid AllowFiltering="true" AllowSorting="true" AllowPaging="true" Style="max-width: 1750px"
                    PageSize="inboxGrid.PageSize" @ref="inboxGrid.radzenGrid" Data="@gridDatas" TItem="STARSMonitoringListsDTO"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowColumnResize="true" EditMode="DataGridEditMode.Single" RowUpdate="@OnUpdateRow">
            <Columns>
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="120px" Property="srr_starsno" Title="STARS No.">
                    <FooterTemplate>
                        <label title="@inboxGrid.FooterLabelString">@inboxGrid.FooterLabelString</label>
                    </FooterTemplate>
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Style="font-size: 14px;" Size="ButtonSize.Small" Text="@data.srr_starsno" Click="@(args => OnViewDetail(data.srr_starsno))"></RadzenButton>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_senddate_str" Title="Send Date" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_recvdate_str" Title="Receive Date" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_tatdate_str" Title="TAT Date" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="120px" Property="srr_reportno" Title="ReportNo." />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_reportdate_str" Title="Report Date" />

                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_stars_labno" Title="Lab No." />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_stars_specimendate_str" Title="CDATE" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="110px" Property="srr_name" Title="Name" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="50px" Property="srr_sex" Title="Age" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="50px" Property="srr_age" Title="Sex" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_ident_organism" Title="Organism" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_ident_spec_name" Title="Specimen Type" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="srr_status_str" Title="Status" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="100px" Property="str_cancelreason" Title="Reject Remark" />
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="200px" Property="srr_remark" Title="Remark">
                    <Template Context="data">
                        <RadzenTextBox @bind-Value="data.srr_remark" Style="width: 100%;" Disabled="@(data.str_cancelreason != "")" MaxLength="500"></RadzenTextBox>
                    </Template>
                    <EditTemplate Context="data">
                        <RadzenTextBox @bind-Value="data.srr_remark" Style="width:100%; display: block" Name="Remark" />
                    </EditTemplate>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Context="data" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="120px">
                    <Template Context="data">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(data))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="data">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(data))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(data))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="230px" Context="data">
                    <Template>
                        <RadzenButton Icon="print" Text="STARS Barcode" Style="background: #0A6839" IsBusy=@busy Click="@(() => ExportBarcode(data))"
                                      Visible="@(!string.IsNullOrEmpty(data.srr_starsno) ? true : false)" />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="STARSMonitoringListsDTO" Width="230px" Context="data">
                    <Template>
                        <RadzenButton Icon="grade" Text="Personal Report" Style="background: #0A6839" Click="@(() => ExportPersonalReport(data))"
                                      Visible="@((!string.IsNullOrEmpty(data.srr_reportno) && (data.srr_status == "A")) ? true : false)" />
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
    @if (showDetail)
    {
        <hr />

        <div class="container inputArea">
            <div class="row justify-content-between">

                <div class="col-12 col-xl-12">
                    <div class="row justify-content-end divGroup buttonArea">
                        <div class="col-auto">
                            <RadzenButton Icon="close" Click="@(() => showDetail = false)" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_starsno")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_starsno" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_recvdate")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="recvdate_str" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_starsno_ref")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_starsno_ref" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("afu_repeatdate")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="repeatdate_str" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_stars_orgnaism")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_stars_orgnaism" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_ident_organism")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_ident_organism" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("method_ident")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.method_ident" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("specimen_type")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.specimen_type" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("method_antibiotic")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.method_antibiotic" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("method_resistance")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.method_resistance" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_status")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="status_str" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12">
                    <b>Gene</b>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            @*<LabelBox inputLabel="@configData.Get_Label("srg_imp_gene")" />*@
                            <i>bla</i> IMP Gene :
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_imp_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            @*<LabelBox inputLabel="@configData.Get_Label("srg_vim_gene")" />*@
                            <i>bla</i> VIM Gene :
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_vim_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            @*<LabelBox inputLabel="@configData.Get_Label("srg_ndm_gene")" />*@
                            <i>bla</i> NDM Gene :
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_ndm_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            @*<LabelBox inputLabel="@configData.Get_Label("srg_kpc_gene")" />*@
                            <i>bla</i> KPC Gene :
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_kpc_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            @*<LabelBox inputLabel="@configData.Get_Label("dxa_gene")" />*@
                            <i>bla</i> OXA-48-like Gene :
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_oxa_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("serotype_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_serotype_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("serogroup_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_serogroup_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_vana_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_vana_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_vanb_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_vanb_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_vanc1_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_vanc1_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_vanc2c3_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_vanc2c3_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_meca_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_meca_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mecc_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mecc_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr1_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr1_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr2_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr2_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr3_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr3_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr4_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr4_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr5_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr5_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr6_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr6_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr7_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr7_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr8_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr8_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr9_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr9_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcr10_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcr10_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-12">
                    <b>Automate Result</b>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                        </div>
                        <div class="col-3 text-center">
                            <b>MIC</b>
                        </div>
                        <div class="col-3 text-center">
                            <b>RIS</b>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                        </div>
                        <div class="col-3 text-center">
                            <b>MIC</b>
                        </div>
                        <div class="col-3 text-center">
                            <b>RIS</b>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                        </div>
                        <div class="col-3 text-center">
                            <b>MIC</b>
                        </div>
                        <div class="col-3 text-center">
                            <b>RIS</b>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                        </div>
                        <div class="col-3 text-center">
                            <b>MIC</b>
                        </div>
                        <div class="col-3 text-center">
                            <b>RIS</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("AMK_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_amk_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_amk_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CXM_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cxm_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cxm_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("GEH_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_geh_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_geh_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("OXA_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_oxa_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_oxa_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("AMC_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_amc_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_amc_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CHL_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_chl_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_chl_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("GEN_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_gen_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_gen_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("PEN_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_pen_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_pen_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("SAM_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sam_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sam_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CIP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cip_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cip_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("IMP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ipm_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ipm_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("TZP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tzp_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tzp_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("AZM_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_azm_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_azm_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CLI_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cli_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cli_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("LVX_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_lvx_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_lvx_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("STH_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sth_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sth_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("FEP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_fep_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_fep_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("COL_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_col_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_col_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("LNZ_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_lnz_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_lnz_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("TEC_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tec_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tec_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CTX_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ctx_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ctx_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("DAP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_dap_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_dap_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("MEM_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_mem_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_mem_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("TCY_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tcy_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tcy_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("FOX_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_fox_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_fox_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("DOR_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_dor_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_dor_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("MET_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_met_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_met_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("TGC_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tgc_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_tgc_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CAZ_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_caz_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_caz_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("ETP_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_etp_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_etp_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("MFX_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_mfx_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_mfx_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("SXT_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sxt_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_sxt_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CRO_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cro_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cro_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("ERY_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ery_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_ery_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("NET_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_net_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_net_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("VAN_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_van_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_van_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>

            </div>
            <hr />
        </div>
        <div class="container inputArea">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srg_mcim_gene")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srg_mcim_gene" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="col-6">
                            <LabelBox inputLabel="@configData.Get_Label("CBDE_Label")" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cbde_mic" Style="width: 100%;" />
                        </div>
                        <div class="col-3 ant-padding">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.x_cbde_ris" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_testuser")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_testuser" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="row justify-content-center divGroup">
                        <div class="@classLabel">
                            <LabelBox inputLabel="@configData.Get_Label("srr_approveuser")" />
                        </div>
                        <div class="@classInput">
                            <RadzenTextBox Disabled="true" @bind-Value="viewData.srr_approveuser" Style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

@code {
    [CascadingParameter] MainLayout mainLayout { get; set; }
    private const string MENU_CODE = "MNU_0807";
    private ConfigData configData = new ConfigData();
    private string classLabel = "col-4";
    private string classInput = "col-8";

    private RadzenGridCustom<STARSMonitoringListsDTO> inboxGrid = new RadzenGridCustom<STARSMonitoringListsDTO>();

    private List<HospitalLabDataDTO> lab_ddl_List;
    private List<ParameterDTO> ParameterList;
    private List<STARSMonitoringListsDTO> gridDatas;
    STARSMonitoringSearchDTO searchModel = new STARSMonitoringSearchDTO();
    private string tempRemarks = "";

    private STARSMonitoringDetailDTO viewData = new STARSMonitoringDetailDTO();

    private bool showModal = false;
    private bool showDetail = false;
    private string repeatdate_str = string.Empty;
    private string recvdate_str = string.Empty;
    private string status_str = string.Empty;
    private bool busy;


    private class StatusList
    {
        public string status_code { get; set; }
        public string status_name { get; set; }
    }


    StatusList[] ss = new StatusList[]
    {
    new StatusList
    {
        status_code = "R",
        status_name = "Received"
    },
    new StatusList
        {
            status_code = "G",
            status_name = "Transporting"
        },
        new StatusList
        {
            status_code = "W",
            status_name = "Wait-Inspect"
        },
        //    new StatusList
        //{
        //    status_code = "A",
        //    status_name = "Lab-Processing"
        //},
            new StatusList
        {
            status_code = "T",
            status_name = "Repeat Automate"
        },
            new StatusList
        {
            status_code = "A",
            status_name = "Complete"
        },
            new StatusList
        {
            status_code = "J",
            status_name = "Reject Sample"
        }
                    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await mainLayout.GetLoginUser();

            if (mainLayout.loginUser.CheckPagePermission(MENU_CODE) == false) navigationManager.NavigateTo("/NoPermissionPage");

            configData.ConfigDTOList = await configDataService.Get_TBConfig_DataList_Async(new TBConfigDTO() { tbc_mnu_code = MENU_CODE });
            ParameterList = await ddlDataService.GetParameterListByModelAsync(new ParameterDTO() { prm_code_major = "STARS_MONITORING" });

            //var searchData = new HospitalLabDataDTO()
            //{
            //    stars_arh_code = searchModel.arh_code = mainLayout.loginUser.arh_code,
            //    hos_code = searchModel.hos_code = mainLayout.loginUser.hos_code,
            //};

            var searchData = new HospitalLabDataDTO();
            if (mainLayout.loginUser.hos_code != null)
            {
                searchData.hos_code = searchModel.hos_code = mainLayout.loginUser.hos_code;
                searchData.stars_arh_code = searchModel.arh_code = mainLayout.loginUser.stars_arh_code;
            }
            else
            {
                searchData.stars_arh_code = searchModel.arh_code = mainLayout.loginUser.arh_code;
            }

            var mm = new DropDownListDTO();
            lab_ddl_List = await ddlDataService.GetAllLabListByModelAsync(searchData);

            searchModel.recvdate_start = DateTime.Now.AddDays(-14);
            searchModel.recvdatet_end = DateTime.Now;
            searchModel.tatdate_start = DateTime.Now.AddDays(-14);
            searchModel.tatdatet_end = DateTime.Now;

            gridDatas = await StarsMonitoringService.GetRepeatAutomateListByParamAsync(searchModel);
        }
    }
    private async void SearchData()
    {
        showModal = true;

        gridDatas = await StarsMonitoringService.GetRepeatAutomateListByParamAsync(searchModel);
        if (inboxGrid.radzenGrid != null) inboxGrid.radzenGrid.GoToPage(0);
        showModal = false;
        StateHasChanged();

    }

    private async void ClearInboxData()
    {
        searchModel = new STARSMonitoringSearchDTO();
        searchModel.arh_code = mainLayout.loginUser.arh_code;
        searchModel.hos_code = mainLayout.loginUser.hos_code;
        searchModel.recvdate_start = DateTime.Now.AddDays(-14);
        searchModel.recvdatet_end = DateTime.Now;
        searchModel.tatdate_start = DateTime.Now.AddDays(-14);
        searchModel.tatdatet_end = DateTime.Now;

        SearchData();
    }

    private void DDL_Change(string ddl_name, object value)
    {
        if (ddl_name == "Arh" && value == null)
        {
            searchModel.hos_code = null;
        }

        else if (ddl_name == "Hos" && value == null)
        {
            //searchModel.lfu_lab = null;
        }
        else if (ddl_name == "Hos" && value != null)
        {
            var hos_select = lab_ddl_List.FirstOrDefault(x => x.hos_code == value.ToString());

            searchModel.arh_code = hos_select.arh_code;
        }

        StateHasChanged();
    }

    private async Task ExportBarcode(STARSMonitoringListsDTO file)
    {
        try
        {
            busy = true;
            if (file != null && file.srr_starsno != "")
            {
                string tempPath = ParameterList.FirstOrDefault(x => x.prm_code_minor == "STARS_BARCODE_PATH").prm_value;
                StarsMonitoringService.ExportBarcode(jsRuntime, file, tempPath);
            }
            else
            {
                await jsRuntime.InvokeAsync<object>("ShowAlert", "รายการนี้ไม่มี STARS No.");
            }
            busy = false;
        }
        catch (Exception ex)
        {
            await jsRuntime.InvokeAsync<object>("ShowAlert", ex.Message);
            busy = false;
        }
    }

    private async Task ExportPersonalReport(STARSMonitoringListsDTO file)
    {
        try
        {
            busy = true;
            if (file != null && file.srr_reportno != "")
            {

                var exportData = await starsReportservice.GetStarsPersonalExportDataAsync(file.srp_id.ToString());
                var starsAutomateResult = await starsReportservice.GetStarsAutomateResultDataAsync(file.srr_starsno);
                exportData.stars_automate_result = starsAutomateResult.stars_automate_result;
                string tempPath = ParameterList.FirstOrDefault(x => x.prm_code_minor == "STARS_REPORT_PATH").prm_value;
                starsReportservice.PreviewReport(jsRuntime, exportData, tempPath);
            }
            else
            {
                await jsRuntime.InvokeAsync<object>("ShowAlert", "รายการนี้ยังไม่ได้สร้าง Personal Report");
            }
            busy = false;
        }
        catch (Exception ex)
        {
            await jsRuntime.InvokeAsync<object>("ShowAlert", ex.Message);
            busy = false;
        }
    }

    private async Task EditRow(STARSMonitoringListsDTO selectedRow)
    {
        if (selectedRow != null)
        {
            tempRemarks = selectedRow.srr_remark;
            await inboxGrid.radzenGrid.EditRow(selectedRow);
        }
        StateHasChanged();
    }

    private async Task SaveRow(STARSMonitoringListsDTO selectedRow)
    {
        showModal = true;

        await StarsMonitoringService.SaveRemarkForRejectSampleAsync(selectedRow);

        showModal = false;

        inboxGrid.radzenGrid.CancelEditRow(selectedRow);
        StateHasChanged();
    }

    void CancelEdit(STARSMonitoringListsDTO selectedRow)
    {
        selectedRow.srr_remark = tempRemarks;
        inboxGrid.radzenGrid.CancelEditRow(selectedRow);
        StateHasChanged();

        //var orderEntry = dbContext.Entry(order);
        //if (orderEntry.State == EntityState.Modified)
        //{
        //    orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        //    orderEntry.State = EntityState.Unchanged;
        //}
    }

    void OnUpdateRow(STARSMonitoringListsDTO order)
    {
        //if (order == orderToInsert)
        //{
        //    orderToInsert = null;
        //}

        //orderToUpdate = null;

        //dbContext.Update(order);

        //dbContext.SaveChanges();
    }

    private async Task OnViewDetail(string starsno)
    {
        if (string.IsNullOrEmpty(starsno))
        {
            return;
        }

        showDetail = true;

        viewData = await StarsMonitoringService.GetRepeatAutomateDetailByParamAsync(starsno);
        repeatdate_str = viewData.afu_repeatdate_str;
        recvdate_str = viewData.srr_recvdate_str;
        status_str = viewData.srr_status_str;
    }
}
